@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <style>
        body{
            background-color:darkgoldenrod;
        }
    </style>

</head>
<body>
    <div class="text-center">


        <button>Start Blogging</button>
        <br /><br/>
        <href>See Other Blogs</href>

    </div>

</body>
</html>
