@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>


<html>
<head>

   
    <style>
        body {
            background-position: center;
            background-color:aliceblue;
       
            -webkit-font-smoothing: antialiased;
            font: normal 14px Roboto,arial,sans-serif;
            font-family: 'Dancing Script', cursive !important;
        }
        ::placeholder { 
            color: #ffffff !important;
            opacity: 1; 
            font-size: 18px !important;
        }

        .form-login {
            background-color:lightpink;
            padding-top: 10px;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 15px;
            border-color: #d2d2d2;
            border-width: 5px;
            color: white;
            box-shadow: 0 1px 0 #cfcfcf;
        }

        .form-control {
            background: transparent !important;
            color: white !important;
            font-size: 18px !important;
        }

        h1 {
            color: white !important;
        }

        h4 {
            border: 0 solid #fff;
            border-bottom-width: 1px;
            padding-bottom: 10px;
            text-align: center;
        }

        .form-control {
            border-radius: 10px;
        }

        .text-white {
            color: white !important;
        }

        .wrapper {
            text-align: center;
        }
    </style>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-5 col-md-4 text-center">
                <h1 class='text-white'> Login Form</h1>
                <div class="form-login">
                    </br>
                    <h4> Login</h4>
                    </br>
                    <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
                    </br></br>
                    <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
                    </br></br>
                    <div class="wrapper">
                        <span class="group-btn">
                            <a href="#" class="btn btn-danger btn-md">SignIn <i class="fa fa-sign-in"></i></a>
                        </span>
                        <span class="group-btn">
                            <a href="#" class="btn btn-danger btn-md">SignUp <i class="fa fa-sign-in"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</body>
</html>
